body
   div(class="container2")
    .boa Boards
    .crea Create a board for family memories, travel, weddings, reunions, hobbies and for everyday moments you want to share to stay connected.
    div(class="content_title")
      div(class="bulb")
      .ideas Ideas
    div(class="gallery")
     
      div(class="gallery-item") 
       div(class="title") Family History
       a(class="btn" href="#")
        div(class="images-size1")
          div(class="images-size1" class="image1" class="left" style="background-image: url(static/img/4.jpg);")
          div(class="images-size1" class="image2" class="right" style="background-image: url(static/img/2.jpg);")
          div(class="images-size1" class="image3" class="right" style="background-image: url(static/img/3.jpg);")

      div(class="gallery-item")
       div(class="title") The Lake House
       a(class="btn" href="#")
        div(class="images-size1")
          div(class="images-size1" class="image1" class="left" style="background-image: url(static/img/4.jpg);")
          div(class="images-size1" class="image2" class="right" style="background-image: url(static/img/2.jpg);")
          div(class="images-size1" class="image3" class="right" style="background-image: url(static/img/3.jpg);")

      div(class="gallery-item")
       div(class="title") Max & Eddie
       a(class="btn" href="#")
        div(class="images-size1")
          div(class="images-size1" class="image1" class="left" style="background-image: url(static/img/4.jpg);")
          div(class="images-size1" class="image2" class="right" style="background-image: url(static/img/2.jpg);")
          div(class="images-size1" class="image3" class="right" style="background-image: url(static/img/3.jpg);")


      div(class="gallery-item")
       div(class="title") Everyday Moments
       a(class="btn" href="#")
        div(class="images-size2")
          div(class="images-size2" class="image1" style="background-image: url(static/img/1.jpg);")

      div(class="gallery-item")
       div(class="title") Barney
       a(class="btn" href="#")
        div(class="images-size2")
          div(class="images-size2" class="image1" style="background-image: url(static/img/1.jpg);")

      div(class="gallery-item")
       div(class="title") Closet lookbook
       a(class="btn" href="#")
        div(class="images-size2")
          div(class="images-size2" class="image1" style="background-image: url(static/img/1.jpg);")

     

      div(class="gallery-item")
       div(class="title") Patrick & Emily Wedding
       a(class="btn" href="#")
        div(class="images-size3")
          div(class="images-size3" class="image1" class="left" style="background-image: url(static/img/5.jpg);")
          div(class="images-size3" class="image2" class="right" style="background-image: url(static/img/6.jpg);")

      div(class="gallery-item")
       div(class="title") Tahoe
       a(class="btn" href="#")
        div(class="images-size3")
          div(class="images-size3" class="image1" class="left" style="background-image: url(static/img/5.jpg);")
          div(class="images-size3" class="image2" class="right" style="background-image: url(static/img/6.jpg);")

      div(class="gallery-item")
       div(class="title") Travels 2018
       a(class="btn" href="#")
        div(class="images-size3")
          div(class="images-size3" class="image1" class="left" style="background-image: url(static/img/5.jpg);")
          div(class="images-size3" class="image2" class="right" style="background-image: url(static/img/6.jpg);")

    div(class="create" class="right") Create new Board
     div(class="arrow" class="right")
      a(class="btn" href="#")
       div(class="new_board" class="right")
