header
    div(class="container")
     div(class="row")
      div(class="col-sm")
        img.logo(src="static/img/favicon.png")
        .capsure Capsure 
      div(class="col-sm2")  
       div(class="search")
        input.edit(type='text', name='ololo')
      div(class="col-sm")  
       a(class="btn" href="#")
        div(class="icon" class="other" class="right")
       a(class="btn" href="#")
        div(class="icon" class="profile" class="right")
       a(class="btn" href="#")
        div(class="icon" class="notif" class="right")
         div(class="message" class="right") 300
    div(class="line")
     

    

