doctype
html
    head
        include ./includes/head
    body
        div
            include ./includes/header
            div
                block body
                    div 
                        include ./includes/body
