$border_radius:10px;
$img_height:170px;

.gallery-item{
	
	position: relative;
  min-height: 1px;
  max-width: 360px;
  
  }


.title{
	vertical-align: top;
}

.images-size1{
  height:$img_height; 
 	width:330px;
   
 
 &.image1{
    border-top-left-radius:$border_radius;
    border-bottom-left-radius:$border_radius;
    height :$img_height; 
    width :220px;
    background-size: cover;

}


&.image2{
    border-top-right-radius:$border_radius;
    height :82.5px; 
    width :105px;
    background-repeat: no-repeat;  
    background-size: cover;
    margin-bottom: 2.5px;
}

&.image3{
    border-bottom-right-radius:$border_radius;
    height :82.5px; 
    width :105px;
    margin-top: 2.5px;
    background-repeat: no-repeat;
    background-size: cover;  
}
}

.images-size2{
  height: $img_height;
  width: 330px;

&.image1{
    border-top-left-radius:$border_radius;
    border-top-right-radius:$border_radius;
    border-bottom-right-radius: $border_radius;
    border-bottom-left-radius:$border_radius;
    height :$img_height; 
    width :330px;
    background-size: cover;
}

}



.images-size3{
  height:$img_height;
  width:330px;

 &.image1{
    border-top-left-radius:$border_radius;
    border-bottom-left-radius:$border_radius; 
    height :$img_height; 
    width :210px;
    background-size: cover;
}

&.image2{
    border-top-right-radius:$border_radius;
    border-bottom-right-radius:$border_radius;
    height :$img_height; 
    width :115px;
    background-repeat: no-repeat;  
    background-size: cover;
    margin-bottom: 5px;
}
}
